openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Asset Meter History API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: AssetMeterHistory
paths:
  /Assets/{assetPK}/meterhistory:
    get:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_GetMeterHistoryForAsset
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Asset meter history get meter history for asset
      x-summary-source: derived
    post:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Post
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history post
      x-summary-source: derived
  /Assets/{assetPK}/meterhistory/{historyPK}:
    get:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_GetMeterHistoryRecord
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: historyPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Asset meter history get meter history record
      x-summary-source: derived
    put:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Put
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: historyPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history put
      x-summary-source: derived
  /Assets/{assetPK}/meternumberhistory:
    get:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_GetMeterHistoryForAsset
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Asset meter history get meter history for asset
      x-summary-source: derived
    put:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Put
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: historyPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history put
      x-summary-source: derived
    post:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Post
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history post
      x-summary-source: derived
  /Assets/{assetPK}/meternumberhistory/{meterNumber}:
    get:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_GetMeterNumberHistory
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: meterNumber
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Asset meter history get meter number history
      x-summary-source: derived
  /AssetMeterHistory:
    get:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_GetMeterHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Asset meter history get meter history
      x-summary-source: derived
    put:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Put
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history put
      x-summary-source: derived
  /AssetMeterHistory/{assetPK}:
    get:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_GetMeterHistoryForAsset
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Asset meter history get meter history for asset
      x-summary-source: derived
    put:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Put
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: historyPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history put
      x-summary-source: derived
    post:
      tags:
      - AssetMeterHistory
      operationId: AssetMeterHistory_Post
      parameters:
      - name: assetPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AssetMeterHistoryViewModel'
        required: true
      summary: Asset meter history post
      x-summary-source: derived
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    IApiResult:
      type: object
      properties: {}
    AssetMeterHistoryViewModel:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        AssetPK:
          format: int32
          type: integer
        Meter1Reading:
          format: double
          type: number
        Meter2Reading:
          format: double
          type: number
        ReadingDate:
          format: date-time
          type: string
        WorkOrderPK:
          format: int32
          type: integer
        LastModifiedDate:
          format: date-time
          type: string
        RowVersionInitials:
          type: string
        RowVersionUserPK:
          format: int32
          type: integer
        ResourceUri:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
