openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Part Transactions API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: PartTransactions
paths:
  /Parts/{partPK}/transactions:
    get:
      tags:
      - PartTransactions
      operationId: PartTransactions_Get
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part transactions get
      x-summary-source: derived
    post:
      tags:
      - PartTransactions
      operationId: PartTransactions_Post
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
        required: true
      summary: Part transactions post
      x-summary-source: derived
  /Parts/{partPK}/transactions/{partTransactionPK}:
    get:
      tags:
      - PartTransactions
      operationId: PartTransactions_Get
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: partTransactionPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part transactions get
      x-summary-source: derived
  /PartTransactions:
    get:
      tags:
      - PartTransactions
      operationId: PartTransactions_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part transactions get
      x-summary-source: derived
    post:
      tags:
      - PartTransactions
      operationId: PartTransactions_Post
      parameters:
      - name: partPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PartTransactionViewModel'
        required: true
      summary: Part transactions post
      x-summary-source: derived
  /PartTransactions/{partTransactionPK}:
    get:
      tags:
      - PartTransactions
      operationId: PartTransactions_Get
      parameters:
      - name: partPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: partTransactionPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part transactions get
      x-summary-source: derived
components:
  schemas:
    IApiResult:
      type: object
      properties: {}
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    ValueDescriptionPairViewModel:
      type: object
      properties:
        Value:
          type: string
        Description:
          type: string
    PartTransactionViewModel:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        PartPK:
          format: int32
          type: integer
        LocationPK:
          format: int32
          type: integer
        Bin:
          type: string
        Qty:
          format: int32
          type: integer
        TypeDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        MasterTypeDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        TransactionDate:
          format: date-time
          type: string
        LastModifiedDate:
          format: date-time
          type: string
        Lot:
          type: string
        AssetPK:
          format: int32
          type: integer
        AccountPK:
          format: int32
          type: integer
        WOPK:
          format: int32
          type: integer
        Comments:
          type: string
        LaborPK:
          format: int32
          type: integer
        DemoLaborPK:
          format: int32
          type: integer
        LaborToPK:
          format: int32
          type: integer
        RowVersionIPAddress:
          type: string
        RowVersionUserPK:
          format: int32
          type: integer
        RowVersionInitials:
          type: string
        UDFBit1:
          type: boolean
        UDFBit2:
          type: boolean
        UDFBit3:
          type: boolean
        UDFBit4:
          type: boolean
        UDFBit5:
          type: boolean
        UDFChar1:
          type: string
        UDFChar2:
          type: string
        UDFChar3:
          type: string
        UDFChar4:
          type: string
        UDFChar5:
          type: string
        UDFDate1:
          format: date-time
          type: string
        UDFDate2:
          format: date-time
          type: string
        Balance:
          format: int32
          type: integer
        BalanceAllLocations:
          format: int32
          type: integer
        LocationPK2:
          format: int32
          type: integer
        Bin2:
          type: string
        Lot2:
          type: string
        TransactionOrder:
          format: int32
          type: integer
        WOPartPK:
          format: int32
          type: integer
        PurchaseOrderInvoicePK:
          format: int32
          type: integer
        PurchaseOrderInvoiceDetailPK:
          format: int32
          type: integer
        POPK:
          format: int32
          type: integer
        PurchaseOrderDetailPK:
          format: int32
          type: integer
        OrderUnitsDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        ConversionToIssueUnits:
          format: double
          type: number
        OrderUnitQty:
          format: int32
          type: integer
        OrderUnitPrice:
          format: double
          type: number
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
