openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Labors API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: Labors
paths:
  /Labors:
    get:
      tags:
      - Labors
      operationId: Labors_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Labors get
      x-summary-source: derived
    put:
      tags:
      - Labors
      operationId: Labors_Put
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
        required: true
      summary: Labors put
      x-summary-source: derived
    post:
      tags:
      - Labors
      operationId: Labors_Post
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LaborViewModel'
        required: true
      summary: Labors post
      x-summary-source: derived
  /Labors/{laborPK}:
    get:
      tags:
      - Labors
      operationId: Labors_Get
      parameters:
      - name: laborPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Labors get
      x-summary-source: derived
    put:
      tags:
      - Labors
      operationId: Labors_Put
      parameters:
      - name: laborPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaborViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LaborViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/LaborViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/LaborViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LaborViewModel'
        required: true
      summary: Labors put
      x-summary-source: derived
    post:
      tags:
      - Labors
      operationId: Labors_Post
      parameters:
      - name: laborPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      summary: Labors post
      x-summary-source: derived
components:
  schemas:
    EntityRefViewModel_Category:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Account:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Shift:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Shop:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Labor:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_RepairCenter:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ValueDescriptionPairViewModel:
      type: object
      properties:
        Value:
          type: string
        Description:
          type: string
    EntityRefViewModel_Department:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    IApiResult:
      type: object
      properties: {}
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    EntityRefViewModel_AccessGroup:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Company:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    LaborViewModel:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        LaborTypeDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        Active:
          type: boolean
        SystemUser:
          type: boolean
        CostRegular:
          format: double
          type: number
        CostOvertime:
          format: double
          type: number
        CostOther:
          format: double
          type: number
        ChargePercentage:
          format: double
          type: number
        ChargeRate:
          format: double
          type: number
        LastModifiedDate:
          format: date-time
          type: string
        Name:
          type: string
        FirstName:
          type: string
        MiddleName:
          type: string
        LastName:
          type: string
        Initials:
          type: string
        CraftRef:
          $ref: '#/components/schemas/EntityRefViewModel_Labor'
        CrewDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        Shift:
          type: string
        AccessGroupRef:
          $ref: '#/components/schemas/EntityRefViewModel_AccessGroup'
        CompanyRef:
          $ref: '#/components/schemas/EntityRefViewModel_Company'
        RepairCenterRef:
          $ref: '#/components/schemas/EntityRefViewModel_RepairCenter'
        ShopRef:
          $ref: '#/components/schemas/EntityRefViewModel_Shop'
        ShiftRef:
          $ref: '#/components/schemas/EntityRefViewModel_Shift'
        SupervisorRef:
          $ref: '#/components/schemas/EntityRefViewModel_Labor'
        JobTitle:
          type: string
        Address:
          type: string
        City:
          type: string
        State:
          type: string
        Zip:
          type: string
        Country:
          type: string
        PhoneHome:
          type: string
        PhoneWork:
          type: string
        PhoneMobile:
          type: string
        Pager:
          type: string
        Fax:
          type: string
        Email:
          type: string
        AccountRef:
          $ref: '#/components/schemas/EntityRefViewModel_Account'
        CategoryRef:
          $ref: '#/components/schemas/EntityRefViewModel_Category'
        Comments:
          type: string
        Photo:
          type: string
        Icon:
          type: string
        UDFChar1:
          type: string
        UDFChar2:
          type: string
        UDFChar3:
          type: string
        UDFChar4:
          type: string
        UDFChar5:
          type: string
        UDFDate1:
          format: date-time
          type: string
        UDFDate2:
          format: date-time
          type: string
        EmpStatusDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        DepartmentRef:
          $ref: '#/components/schemas/EntityRefViewModel_Department'
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
