openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Work Order Images API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: WorkOrderImages
paths:
  /WorkOrders/{workOrderPK}/images:
    get:
      tags:
      - WorkOrderImages
      operationId: WorkOrderImages_Get
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order images get
      x-summary-source: derived
    post:
      tags:
      - WorkOrderImages
      operationId: WorkOrderImages_Post
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order images post
      x-summary-source: derived
  /WorkOrders/{workOrderPK}/images/{imagePK}:
    get:
      tags:
      - WorkOrderImages
      operationId: WorkOrderImages_Get
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: imagePK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order images get
      x-summary-source: derived
  /WorkOrderImages:
    get:
      tags:
      - WorkOrderImages
      operationId: WorkOrderImages_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order images get
      x-summary-source: derived
  /WorkOrderImages/{workOrderPK}:
    get:
      tags:
      - WorkOrderImages
      operationId: WorkOrderImages_Get
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order images get
      x-summary-source: derived
    post:
      tags:
      - WorkOrderImages
      operationId: WorkOrderImages_Post
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order images post
      x-summary-source: derived
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    IApiResult:
      type: object
      properties: {}
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
