openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Lookup Table Values API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: LookupTableValues
paths:
  /LookupTables/{lookupTableID}/values:
    get:
      tags:
      - LookupTableValues
      operationId: LookupTableValues_Get
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Lookup table values get
      x-summary-source: derived
    post:
      tags:
      - LookupTableValues
      operationId: LookupTableValues_Post
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
        required: true
      summary: Lookup table values post
      x-summary-source: derived
  /LookupTables/{lookupTableID}/values/{codeName}:
    get:
      tags:
      - LookupTableValues
      operationId: getLookupTablesByLookupTableIDValuesByCodeName
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      - name: codeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Lookup table values get
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: LookupTableValues_Get
    put:
      tags:
      - LookupTableValues
      operationId: LookupTableValues_Put
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      - name: codeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
        required: true
      summary: Lookup table values put
      x-summary-source: derived
  /LookupTableValues:
    get:
      tags:
      - LookupTableValues
      operationId: getLookupTableValues
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Lookup table values get
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: LookupTableValues_Get
    put:
      tags:
      - LookupTableValues
      operationId: putLookupTableValues
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
        required: true
      summary: Lookup table values put
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: LookupTableValues_Put
  /LookupTableValues/{lookupTableID}:
    get:
      tags:
      - LookupTableValues
      operationId: getLookupTableValuesByLookupTableID
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Lookup table values get
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: LookupTableValues_Get
    put:
      tags:
      - LookupTableValues
      operationId: putLookupTableValuesByLookupTableID
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      - name: codeName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LookupTableValueViewModel'
        required: true
      summary: Lookup table values put
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: LookupTableValues_Put
    post:
      tags:
      - LookupTableValues
      operationId: postLookupTableValuesByLookupTableID
      parameters:
      - name: lookupTableID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupTableValueViewModel'
        required: true
      summary: Lookup table values post
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: LookupTableValues_Post
components:
  schemas:
    IApiResult:
      type: object
      properties: {}
    LookupTableValueViewModel:
      type: object
      properties:
        LookupTableID:
          type: string
        CodeName:
          type: string
        CodeDesc:
          type: string
        CodeValue:
          format: double
          type: number
        SystemCode:
          type: boolean
        AvailableToRequester:
          type: boolean
        LastModifiedDate:
          format: date-time
          type: string
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
