openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Purchase Order Line Items API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: Purchase Order Line Items
paths:
  /PurchaseOrderLineItems:
    get:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Purchase order line items get
      x-summary-source: derived
    put:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Put
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
        required: true
      summary: Purchase order line items put
      x-summary-source: derived
    post:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Post
      parameters:
      - name: purchaseOrderPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
        required: true
      summary: Purchase order line items post
      x-summary-source: derived
  /PurchaseOrderLineItems/{lineItemPK}:
    get:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Get
      parameters:
      - name: purchaseOrderPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: lineItemPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Purchase order line items get
      x-summary-source: derived
    put:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Put
      parameters:
      - name: purchaseOrderPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: lineItemPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
        required: true
      summary: Purchase order line items put
      x-summary-source: derived
  /PurchaseOrders/{purchaseOrderPK}/LineItems/{lineItemPK}:
    get:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Get
      parameters:
      - name: purchaseOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: lineItemPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Purchase order line items get
      x-summary-source: derived
    put:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Put
      parameters:
      - name: purchaseOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: lineItemPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
        required: true
      summary: Purchase order line items put
      x-summary-source: derived
  /PurchaseOrders/{purchaseOrderPK}/LineItems:
    get:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_GetLineItemsForPurchaseOrder
      parameters:
      - name: purchaseOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Purchase order line items get line items for purchase order
      x-summary-source: derived
    post:
      tags:
      - Purchase Order Line Items
      operationId: PurchaseOrderLineItems_Post
      parameters:
      - name: purchaseOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PurchaseOrderLineItemViewModel'
        required: true
      summary: Purchase order line items post
      x-summary-source: derived
components:
  schemas:
    EntityRefViewModel_Account:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Part:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Labor:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    IApiResult:
      type: object
      properties: {}
    ValueDescriptionPairViewModel:
      type: object
      properties:
        Value:
          type: string
        Description:
          type: string
    EntityRefViewModel_Asset:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_WorkOrder:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    EntityRefViewModel_Location:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    PurchaseOrderLineItemViewModel:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        PurchaseOrderPK:
          format: int32
          type: integer
        LineItemNo:
          format: int32
          type: integer
        PartRef:
          $ref: '#/components/schemas/EntityRefViewModel_Part'
        DirectIssue:
          type: boolean
        ConversionToIssueUnits:
          format: double
          type: number
        OrderUnitPrice:
          format: double
          type: number
        OrderUnitQty:
          format: int32
          type: integer
        OrderUnitQtyBackOrdered:
          format: int32
          type: integer
        OrderUnitQtyReceived:
          format: int32
          type: integer
        Discount:
          format: double
          type: number
        Subtotal:
          format: double
          type: number
        IsTax:
          type: boolean
        TaxRate:
          format: double
          type: number
        TaxAmount:
          format: double
          type: number
        LineItemTotal:
          format: double
          type: number
        LastModifiedDate:
          format: date-time
          type: string
        LocationRef:
          $ref: '#/components/schemas/EntityRefViewModel_Location'
        Bin:
          type: string
        VendorPartNumber:
          type: string
        WorkOrderRef:
          $ref: '#/components/schemas/EntityRefViewModel_WorkOrder'
        WorkOrderPartPK:
          format: int32
          type: integer
        AccountRef:
          $ref: '#/components/schemas/EntityRefViewModel_Account'
        AssetRef:
          $ref: '#/components/schemas/EntityRefViewModel_Asset'
        LaborRef:
          $ref: '#/components/schemas/EntityRefViewModel_Labor'
        IssueUnitsDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        OrderUnitsDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        Comments:
          type: string
        FreightCharge:
          format: double
          type: number
        OrderUnitQtyCanceled:
          format: int32
          type: integer
        ReceiveDate:
          format: date-time
          type: string
        DueDate:
          format: date-time
          type: string
        SubAccountPK:
          format: int32
          type: integer
        SubAccountID:
          type: string
        SubAccountName:
          type: string
        ResourceUri:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
