openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Part Documents API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: PartDocuments
paths:
  /Parts/{partPK}/documents:
    get:
      tags:
      - PartDocuments
      operationId: PartDocuments_Get
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part documents get
      x-summary-source: derived
    post:
      tags:
      - PartDocuments
      operationId: PartDocuments_Post
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part documents post
      x-summary-source: derived
  /Parts/{partPK}/documents/{PK}:
    get:
      tags:
      - PartDocuments
      operationId: PartDocuments_Get
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: PK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part documents get
      x-summary-source: derived
  /PartDocuments:
    get:
      tags:
      - PartDocuments
      operationId: PartDocuments_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part documents get
      x-summary-source: derived
  /PartDocuments/{partPK}:
    get:
      tags:
      - PartDocuments
      operationId: PartDocuments_Get
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part documents get
      x-summary-source: derived
    post:
      tags:
      - PartDocuments
      operationId: PartDocuments_Post
      parameters:
      - name: partPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Part documents post
      x-summary-source: derived
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    IApiResult:
      type: object
      properties: {}
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
