openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Work Order Documents API
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: WorkOrderDocuments
paths:
  /WorkOrders/{workOrderPK}/documents:
    get:
      tags:
      - WorkOrderDocuments
      operationId: WorkOrderDocuments_Get
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order documents get
      x-summary-source: derived
    post:
      tags:
      - WorkOrderDocuments
      operationId: WorkOrderDocuments_Post
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order documents post
      x-summary-source: derived
  /WorkOrders/{workOrderPK}/documents/{PK}:
    get:
      tags:
      - WorkOrderDocuments
      operationId: getWorkOrdersByWorkOrderPKDocumentsByPK
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: PK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order documents get
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: WorkOrderDocuments_Get
  /WorkOrderDocuments:
    get:
      tags:
      - WorkOrderDocuments
      operationId: getWorkOrderDocuments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order documents get
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: WorkOrderDocuments_Get
  /WorkOrderDocuments/{workOrderPK}:
    get:
      tags:
      - WorkOrderDocuments
      operationId: getWorkOrderDocumentsByWorkOrderPK
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order documents get
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: WorkOrderDocuments_Get
    post:
      tags:
      - WorkOrderDocuments
      operationId: postWorkOrderDocumentsByWorkOrderPK
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order documents post
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: WorkOrderDocuments_Post
components:
  schemas:
    IApiResult:
      type: object
      properties: {}
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
