openapi: 3.2.0
info:
  version: v8
  title: Maintenance Connection REST Work Order Labor Cost Actuals…
servers:
- url: https://api.maintenanceconnection.com:80/v8
tags:
- name: WorkOrderLaborCostActuals
paths:
  /WorkOrders/{workOrderPK}/LaborActuals/{costPK}:
    get:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Get
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: costPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order labor cost actuals get
      x-summary-source: derived
    put:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Put
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: costPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
        required: true
      summary: Work order labor cost actuals put
      x-summary-source: derived
  /WorkOrders/{workOrderPK}/LaborActuals:
    get:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_GetLaborActualsForWorkOrder
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order labor cost actuals get labor actuals for work order
      x-summary-source: derived
    post:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Post
      parameters:
      - name: workOrderPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
        required: true
      summary: Work order labor cost actuals post
      x-summary-source: derived
  /WorkOrderLaborActuals:
    get:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order labor cost actuals get
      x-summary-source: derived
    put:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Put
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
        required: true
      summary: Work order labor cost actuals put
      x-summary-source: derived
    post:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Post
      parameters:
      - name: workOrderPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
        required: true
      summary: Work order labor cost actuals post
      x-summary-source: derived
  /WorkOrderLaborActuals/{costPK}:
    get:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Get
      parameters:
      - name: workOrderPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: costPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Work order labor cost actuals get
      x-summary-source: derived
    put:
      tags:
      - WorkOrderLaborCostActuals
      operationId: WorkOrderLaborCostActuals_Put
      parameters:
      - name: workOrderPK
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: costPK
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WorkOrderLaborCostActualViewModel'
        required: true
      summary: Work order labor cost actuals put
      x-summary-source: derived
components:
  schemas:
    EntityRefViewModel_Category:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Account:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    EntityRefViewModel_Labor:
      type: object
      properties:
        PK:
          format: int32
          type: integer
        ID:
          type: string
        Name:
          type: string
        Uuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    ValueDescriptionPairViewModel:
      type: object
      properties:
        Value:
          type: string
        Description:
          type: string
    IApiResult:
      type: object
      properties: {}
    ApiResponse:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IApiResult'
        Total:
          format: int32
          type: integer
    WorkOrderLaborCostActualViewModel:
      type: object
      properties:
        EstimatePK:
          format: int32
          type: integer
        RegularHours:
          format: double
          type: number
        OvertimeHours:
          format: double
          type: number
        OtherHours:
          format: double
          type: number
        RegularCost:
          format: double
          type: number
        OvertimeCost:
          format: double
          type: number
        OtherCost:
          format: double
          type: number
        TimeIn:
          format: date-time
          type: string
        TimeOut:
          format: date-time
          type: string
        Comments:
          type: string
        PK:
          format: int32
          type: integer
        WorkOrderPK:
          format: int32
          type: integer
        EstimatedHours:
          format: double
          type: number
        TotalHours:
          format: double
          type: number
        TotalCost:
          format: double
          type: number
        RegularRate:
          format: double
          type: number
        OvertimeRate:
          format: double
          type: number
        OtherRate:
          format: double
          type: number
        ChargeRate:
          format: double
          type: number
        ChargePercentage:
          format: double
          type: number
        TotalCharge:
          format: double
          type: number
        WorkDate:
          format: date-time
          type: string
        LastModifiedDate:
          format: date-time
          type: string
        ResourceUri:
          type: string
        LaborTypeDetails:
          $ref: '#/components/schemas/ValueDescriptionPairViewModel'
        LaborRef:
          $ref: '#/components/schemas/EntityRefViewModel_Labor'
        AccountRef:
          $ref: '#/components/schemas/EntityRefViewModel_Account'
        CategoryRef:
          $ref: '#/components/schemas/EntityRefViewModel_Category'
        AutoCalcCost:
          type: boolean
        AutoCalcCharge:
          type: boolean
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
