{"swagger":"2.0","info":{"version":"v8","title":"Maintenance Connection REST API"},"host":"api.maintenanceconnection.com:80","basePath":"/v8","schemes":["https"],"paths":{"/Assets/{assetPK}/documents":{"get":{"tags":["AssetDocuments"],"operationId":"AssetDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["AssetDocuments"],"operationId":"AssetDocuments_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Assets/{assetPK}/documents/{PK}":{"get":{"tags":["AssetDocuments"],"operationId":"AssetDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/AssetDocuments":{"get":{"tags":["AssetDocuments"],"operationId":"AssetDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/AssetDocuments/{assetPK}":{"get":{"tags":["AssetDocuments"],"operationId":"AssetDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["AssetDocuments"],"operationId":"AssetDocuments_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Assets/{assetPK}/images":{"get":{"tags":["AssetImages"],"operationId":"AssetImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["AssetImages"],"operationId":"AssetImages_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Assets/{assetPK}/images/{imagePK}":{"get":{"tags":["AssetImages"],"operationId":"AssetImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"imagePK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/AssetImages":{"get":{"tags":["AssetImages"],"operationId":"AssetImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/AssetImages/{assetPK}":{"get":{"tags":["AssetImages"],"operationId":"AssetImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["AssetImages"],"operationId":"AssetImages_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Assets/{assetPK}/meterhistory":{"get":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_GetMeterHistoryForAsset","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newMeterHistory","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets/{assetPK}/meterhistory/{historyPK}":{"get":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_GetMeterHistoryRecord","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"historyPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"historyPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets/{assetPK}/meternumberhistory":{"get":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_GetMeterHistoryForAsset","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"historyPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newMeterHistory","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets/{assetPK}/meternumberhistory/{meterNumber}":{"get":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_GetMeterNumberHistory","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"meterNumber","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/AssetMeterHistory":{"get":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_GetMeterHistory","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/AssetMeterHistory/{assetPK}":{"get":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_GetMeterHistoryForAsset","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"historyPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AssetMeterHistory"],"operationId":"AssetMeterHistory_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newMeterHistory","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetMeterHistoryViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets":{"get":{"tags":["Assets"],"operationId":"Assets_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Assets"],"operationId":"Assets_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Assets"],"operationId":"Assets_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newAssets","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets/{assetPK}":{"get":{"tags":["Assets"],"operationId":"Assets_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Assets"],"operationId":"Assets_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Assets"],"operationId":"Assets_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets/{assetPK}/specifications/{PK}":{"get":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"path","required":true,"type":"integer","format":"int64"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetSpecificationViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Assets/{assetPK}/specifications":{"get":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_GetSpecificationsForAsset","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newAssetSpecs","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetSpecificationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/AssetSpecifications":{"get":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetSpecificationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/AssetSpecifications/{assetPK}":{"get":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"query","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"query","required":true,"type":"integer","format":"int64"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetSpecificationViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AssetSpecifications"],"operationId":"AssetSpecifications_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newAssetSpecs","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssetSpecificationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/classifications":{"get":{"tags":["Classifications"],"operationId":"Classifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Classifications"],"operationId":"Classifications_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ClassificationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Classifications"],"operationId":"Classifications_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newClassifications","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ClassificationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/classifications/{classificationPK}":{"get":{"tags":["Classifications"],"operationId":"Classifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"classificationPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Classifications"],"operationId":"Classifications_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"classificationPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/ClassificationViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Companies":{"get":{"tags":["Companies"],"operationId":"Companies_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Companies"],"operationId":"Companies_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CompanyViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Companies"],"operationId":"Companies_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newCompanies","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CompanyViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Companies/{companyPK}":{"get":{"tags":["Companies"],"operationId":"Companies_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"companyPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Companies"],"operationId":"Companies_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"companyPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/CompanyViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/ExternalInterface":{"get":{"tags":["ExternalInterface"],"operationId":"ExternalInterface_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["ExternalInterface"],"operationId":"ExternalInterface_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"_externalInterfaces","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ExternalInterface"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/ExternalInterface/{externalInterfacePK}":{"get":{"tags":["ExternalInterface"],"operationId":"ExternalInterface_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"externalInterfacePK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["ExternalInterface"],"operationId":"ExternalInterface_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"externalInterfacePK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/ExternalInterfaceViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Invoices":{"get":{"tags":["Invoices"],"operationId":"Invoices_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Invoices"],"operationId":"Invoices_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Invoices"],"operationId":"Invoices_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newInvoices","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Invoices/{invoicePK}":{"get":{"tags":["Invoices"],"operationId":"Invoices_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"invoicePK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Invoices"],"operationId":"Invoices_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"invoicePK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/InvoiceViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Invoices/{invoicePK}":{"get":{"tags":["Invoices"],"operationId":"Invoices_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"invoicePK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Invoices"],"operationId":"Invoices_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"invoicePK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/InvoiceViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Invoices":{"get":{"tags":["Invoices"],"operationId":"Invoices_GetInvoicesForPurchaseOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["Invoices"],"operationId":"Invoices_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newInvoices","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Labors":{"get":{"tags":["Labors"],"operationId":"Labors_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Labors"],"operationId":"Labors_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LaborViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Labors"],"operationId":"Labors_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newLabor","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LaborViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Labors/{laborPK}":{"get":{"tags":["Labors"],"operationId":"Labors_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"laborPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Labors"],"operationId":"Labors_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"laborPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/LaborViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Labors"],"operationId":"Labors_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"laborPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Logs":{"get":{"tags":["Log"],"operationId":"Log_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["Log"],"operationId":"Log_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newLogs","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LogItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Logs/{logPK}":{"get":{"tags":["Log"],"operationId":"Log_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"logPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/LookupTables":{"get":{"tags":["LookupTables"],"operationId":"LookupTables_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["LookupTables"],"operationId":"LookupTables_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LookupTableViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["LookupTables"],"operationId":"LookupTables_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newLookupTable","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LookupTableViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/LookupTables/{lookupTableID}":{"get":{"tags":["LookupTables"],"operationId":"LookupTables_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["LookupTables"],"operationId":"LookupTables_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/LookupTableViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/LookupTables/{lookupTableID}/values":{"get":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"},{"name":"newLookupTableValues","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LookupTableValueViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/LookupTables/{lookupTableID}/values/{codeName}":{"get":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"},{"name":"codeName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"},{"name":"codeName","in":"path","required":true,"type":"string"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/LookupTableValueViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/LookupTableValues":{"get":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LookupTableValueViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/LookupTableValues/{lookupTableID}":{"get":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"},{"name":"codeName","in":"query","required":true,"type":"string"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/LookupTableValueViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["LookupTableValues"],"operationId":"LookupTableValues_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"lookupTableID","in":"path","required":true,"type":"string"},{"name":"newLookupTableValues","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LookupTableValueViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts/{partPK}/documents":{"get":{"tags":["PartDocuments"],"operationId":"PartDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PartDocuments"],"operationId":"PartDocuments_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Parts/{partPK}/documents/{PK}":{"get":{"tags":["PartDocuments"],"operationId":"PartDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/PartDocuments":{"get":{"tags":["PartDocuments"],"operationId":"PartDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/PartDocuments/{partPK}":{"get":{"tags":["PartDocuments"],"operationId":"PartDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PartDocuments"],"operationId":"PartDocuments_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Parts/{partPK}/locations":{"get":{"tags":["PartLocations"],"operationId":"PartLocations_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PartLocations"],"operationId":"PartLocations_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newLocations","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartLocationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts/{partPK}/locations/{partLocationPK}":{"get":{"tags":["PartLocations"],"operationId":"PartLocations_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"partLocationPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PartLocations"],"operationId":"PartLocations_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"partLocationPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PartLocationViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PartLocations":{"get":{"tags":["PartLocations"],"operationId":"PartLocations_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PartLocations"],"operationId":"PartLocations_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartLocationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PartLocations"],"operationId":"PartLocations_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newLocations","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartLocationViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PartLocations/{partLocationPK}":{"get":{"tags":["PartLocations"],"operationId":"PartLocations_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"partLocationPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PartLocations"],"operationId":"PartLocations_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"partLocationPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PartLocationViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts":{"get":{"tags":["Parts"],"operationId":"Parts_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Parts"],"operationId":"Parts_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Parts"],"operationId":"Parts_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newPart","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts/{partPK}":{"get":{"tags":["Parts"],"operationId":"Parts_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Parts"],"operationId":"Parts_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PartViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Parts"],"operationId":"Parts_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts/{partPK}/transactions":{"get":{"tags":["PartTransactions"],"operationId":"PartTransactions_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PartTransactions"],"operationId":"PartTransactions_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newTransactions","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartTransactionViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts/{partPK}/transactions/{partTransactionPK}":{"get":{"tags":["PartTransactions"],"operationId":"PartTransactions_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"partTransactionPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/PartTransactions":{"get":{"tags":["PartTransactions"],"operationId":"PartTransactions_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PartTransactions"],"operationId":"PartTransactions_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newTransactions","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartTransactionViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PartTransactions/{partTransactionPK}":{"get":{"tags":["PartTransactions"],"operationId":"PartTransactions_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"partTransactionPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Parts/{partPK}/vendors":{"get":{"tags":["PartVendors"],"operationId":"PartVendors_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PartVendors"],"operationId":"PartVendors_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newVendors","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartVendorViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Parts/{partPK}/vendors/{partVendorPK}":{"get":{"tags":["PartVendors"],"operationId":"PartVendors_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"partVendorPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/Parts/{partPK}/vendors/{partvendorPK}":{"put":{"tags":["PartVendors"],"operationId":"PartVendors_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"partvendorPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PartVendorViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PartVendors":{"get":{"tags":["PartVendors"],"operationId":"PartVendors_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PartVendors"],"operationId":"PartVendors_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartVendorViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PartVendors"],"operationId":"PartVendors_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newVendors","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PartVendorViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PartVendors/{partVendorPK}":{"get":{"tags":["PartVendors"],"operationId":"PartVendors_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"partVendorPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/PartVendors/{partvendorPK}":{"put":{"tags":["PartVendors"],"operationId":"PartVendors_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"partvendorPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PartVendorViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrderLineItems":{"get":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PurchaseOrderLineItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newLineItems","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PurchaseOrderLineItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrderLineItems/{lineItemPK}":{"get":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PurchaseOrderLineItemViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/LineItems/{lineItemPK}":{"get":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PurchaseOrderLineItemViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/LineItems":{"get":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_GetLineItemsForPurchaseOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PurchaseOrderLineItems"],"operationId":"PurchaseOrderLineItems_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newLineItems","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PurchaseOrderLineItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrderNote":{"get":{"tags":["PurchaseOrderNote"],"operationId":"PurchaseOrderNote_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["PurchaseOrderNote"],"operationId":"PurchaseOrderNote_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newNotes","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PurchaseOrderNoteViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrderNote/{purchaseOrderNotePK}":{"get":{"tags":["PurchaseOrderNote"],"operationId":"PurchaseOrderNote_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderNotePK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Notes":{"get":{"tags":["PurchaseOrderNote"],"operationId":"PurchaseOrderNote_GetNotesForPurchaseOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/purchaseorders":{"get":{"tags":["PurchaseOrders"],"operationId":"PurchaseOrders_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PurchaseOrders"],"operationId":"PurchaseOrders_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PurchaseOrderViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["PurchaseOrders"],"operationId":"PurchaseOrders_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"newPurchaseOrders","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PurchaseOrderViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/purchaseorders/{purchaseOrderPK}":{"get":{"tags":["PurchaseOrders"],"operationId":"PurchaseOrders_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["PurchaseOrders"],"operationId":"PurchaseOrders_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PurchaseOrderViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/StatusUpdates":{"get":{"tags":["PurchaseOrderStatusUpdates"],"operationId":"PurchaseOrderStatusUpdates_GetStatusUpdatesForPurchaseOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/ReceiptLineItems":{"get":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ReceiptLineItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newLineItems","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ReceiptLineItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/ReceiptLineItems/{lineItemPK}":{"get":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/ReceiptLineItemViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Receipts/{receiptPK}/LineItems/{lineItemPK}":{"get":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"lineItemPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/ReceiptLineItemViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Receipts/{receiptPK}/LineItems":{"get":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_GetLineItemsForPurchaseOrderReceipt","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["ReceiptLineItems"],"operationId":"ReceiptLineItems_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newLineItems","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ReceiptLineItemViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Receipts":{"get":{"tags":["Receipts"],"operationId":"Receipts_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Receipts"],"operationId":"Receipts_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ReceiptViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Receipts"],"operationId":"Receipts_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newReceipts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ReceiptViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Receipts/{receiptPK}":{"get":{"tags":["Receipts"],"operationId":"Receipts_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Receipts"],"operationId":"Receipts_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/ReceiptViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Receipts/{receiptPK}":{"get":{"tags":["Receipts"],"operationId":"Receipts_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["Receipts"],"operationId":"Receipts_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"receiptPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/ReceiptViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/PurchaseOrders/{purchaseOrderPK}/Receipts":{"get":{"tags":["Receipts"],"operationId":"Receipts_GetReceiptsForPurchaseOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["Receipts"],"operationId":"Receipts_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"purchaseOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newReceipts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ReceiptViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Schema/{model}":{"get":{"tags":["Schema"],"operationId":"Schema_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SchemaViewModel"}}}}},"/specifications/{specificationPK}/AssetSpecifications":{"get":{"tags":["SpecificationAssetSpecifications"],"operationId":"SpecificationAssetSpecifications_GetAssetSpecificationsForSpecification","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"specificationPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/specifications/{specificationPK}/AssetSpecifications/{assetspecPK}":{"get":{"tags":["SpecificationAssetSpecifications"],"operationId":"SpecificationAssetSpecifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"specificationPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"assetspecPK","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/specifications":{"get":{"tags":["Specifications"],"operationId":"Specifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/specifications/{specificationPK}":{"get":{"tags":["Specifications"],"operationId":"Specifications_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"specificationPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrders/{workOrderPK}/Assignments/{assignmentPK}":{"get":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"assignmentPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"assignmentPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderAssignmentViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/Assignments":{"get":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_GetAssignmentsForWorkOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newAssignments","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderAssignmentViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderAssignments":{"get":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderAssignmentViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newAssignments","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderAssignmentViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderAssignments/{assignmentPK}":{"get":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"assignmentPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderAssignments"],"operationId":"WorkOrderAssignments_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"assignmentPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderAssignmentViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/documents":{"get":{"tags":["WorkOrderDocuments"],"operationId":"WorkOrderDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderDocuments"],"operationId":"WorkOrderDocuments_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrders/{workOrderPK}/documents/{PK}":{"get":{"tags":["WorkOrderDocuments"],"operationId":"WorkOrderDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"PK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrderDocuments":{"get":{"tags":["WorkOrderDocuments"],"operationId":"WorkOrderDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrderDocuments/{workOrderPK}":{"get":{"tags":["WorkOrderDocuments"],"operationId":"WorkOrderDocuments_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderDocuments"],"operationId":"WorkOrderDocuments_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrders/{workOrderPK}/images":{"get":{"tags":["WorkOrderImages"],"operationId":"WorkOrderImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderImages"],"operationId":"WorkOrderImages_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrders/{workOrderPK}/images/{imagePK}":{"get":{"tags":["WorkOrderImages"],"operationId":"WorkOrderImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"imagePK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrderImages":{"get":{"tags":["WorkOrderImages"],"operationId":"WorkOrderImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrderImages/{workOrderPK}":{"get":{"tags":["WorkOrderImages"],"operationId":"WorkOrderImages_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderImages"],"operationId":"WorkOrderImages_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}}},"/WorkOrders/{workOrderPK}/LaborActuals/{costPK}":{"get":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderLaborCostActualViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/LaborActuals":{"get":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_GetLaborActualsForWorkOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderLaborCostActualViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderLaborActuals":{"get":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderLaborCostActualViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderLaborCostActualViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderLaborActuals/{costPK}":{"get":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderLaborCostActuals"],"operationId":"WorkOrderLaborCostActuals_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderLaborCostActualViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/LaborEstimates/{costPK}":{"get":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderLaborCostEstimateViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/LaborEstimates":{"get":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_GetLaborEstimatesForWorkOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderLaborCostEstimateViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderLaborEstimates":{"get":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderLaborCostEstimateViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderLaborCostEstimateViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderLaborEstimates/{costPK}":{"get":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderLaborCostEstimates"],"operationId":"WorkOrderLaborCostEstimates_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderLaborCostEstimateViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/MiscActuals/{costPK}":{"get":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderMiscCostActualViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/MiscActuals":{"get":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_GetMiscActualsForWorkOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderMiscCostActualViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderMiscActuals":{"get":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderMiscCostActualViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderMiscCostActualViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderMiscActuals/{costPK}":{"get":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderMiscCostActuals"],"operationId":"WorkOrderMiscCostActuals_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderMiscCostActualViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/MiscEstimates/{costPK}":{"get":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"costPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"updatedViewModel","in":"body","required":true,"schema":{"$ref":"#/definitions/WorkOrderMiscCostEstimateViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrders/{workOrderPK}/MiscEstimates":{"get":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_GetMiscEstimatesForWorkOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"post":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"path","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderMiscCostEstimateViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrderMiscEstimates":{"get":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse"}}}},"put":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"updViews","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderMiscCostEstimateViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["WorkOrderMiscCostEstimates"],"operationId":"WorkOrderMiscCostEstimates_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"workOrderPK","in":"query","required":true,"type":"integer","format":"int32"},{"name":"newCosts","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/WorkOrderMiscCostEstimateViewModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/WorkOrd
[...]
